@import "./base.css";

body {
  display: flex;
  place-items: center;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  min-height: calc(100vh - 16px);
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  min-height: calc(100vh - 16px);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
